#svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #666;
    stroke-width: 1em;
  }
  #svg #bar {
    stroke: var(--bg-color-l);
  }
  #cont {
    display: block;
    height: 200px;
    width: 200px;
    margin: 2em auto;
    /* box-shadow: 0 0 1em black; */
    border-radius: 100%;
    position: relative;
  }
  #cont:after {
    position: absolute;
    display: block;
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    box-shadow: inset 0 0 1em black;
    content: attr(data-pct)"%";
    margin-top: -80px;
    margin-left: -80px;
    border-radius: 100%;
    line-height: 160px;
    font-size: 2em;
    text-shadow: 0 0 0.5em black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .total-img{
    background-image: url("../../assets/TotalAssetsBg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    /* object-fit: scale-down; */
    height: 9.5rem;
  }
  .wallet-svg svg{

    
    color: #dddddd;
    opacity: 0.2;
  }


  

  .payment-2 
   {
    min-height: 100vh;
    max-width: 450px;
    background-color: white;
    margin: auto;
}

.payment-2 .payment-container {
    background-color: #516bfe;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.payment-2 .payment-title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffffff;
}

.payment-2 .amount-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.payment-2 .amount-label {
    color: #000000;
    font-weight: 600;
}

.payment-2 .amount-value {
    font-size: 1.25rem;
    font-weight: 600;
    color: #516bfe;
    font-size: 30px;
}

.payment-2 .payment-selection-container {
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.payment-2 .payment-select {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.payment-2 .payment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.payment-2 .payment-button {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.payment-2 .payment-button img {
    width: 140px;
    height: auto;
}

.payment-2 .qr-payment-container {
    padding: 16px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.payment-2 .qr-instructions {
    font-size: 16px;
}

.payment-2 .qr-note {
    font-size: 16px;
    text-align: center;
    color: #6c757d;
    margin-bottom: 16px;
}

.payment-2 .qr-code {
    display: flex;
    justify-content: center;
}

.payment-2 .qr-code img {
    width: 200px;
    height: 200px;
    margin-bottom: 16px;
}

.payment-2 .important-tips {
    font-size: 16px;
    color: red;
    font-weight: 600;
    margin-bottom: 16px;
}

.payment-2 .utr-form {
    display: flex;
    align-items: center;
    gap: 20px;
}

.utr-input {
    padding: 8px;
    border-radius: 4px;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border: 1px solid #007bff;
}

.payment-2 .utr-submit {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.payment-2 .utr-submit[disabled] {
    background-color: gray;
    cursor: not-allowed;
}

.payment-2 .last {
    padding: 16px;
    box-shadow: 5px 5px 10px rgb(186, 186, 186);
}

.payment-2 .last-title {
    font-size: 15px;
    color: gray;
}

.payment-2 .last-point {
    font-size: 14px;
    color: rgb(173, 173, 173);
}

.payment-2 .last-upi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.payment-2 .upi-title {
    font-size: 14px;
    color: gray;
}

.payment-2 .upi-mail {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.payment-2 .upi-copy {
    font-size: 14px;
    color: purple;
    cursor: pointer;
}

.payment-2 .upi-img {
    width: 80px;
    height: auto;
    cursor: pointer;
}

.payment-2 .help {
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: gray;
}

.payment-2 .help a {
    text-decoration: none;
    color: #0056b3;
}
.color-black{
  color: black !important;
}