.navbar-section {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24.3rem;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    /* height: 1.73333rem; */
    /* padding-block: 0 .13333rem;
      font-size: .29333rem; */
    height: 4rem;
    z-index: 10;
    padding: 0 10px;
    padding-top: 15px;
    /* background-image: url('../assets/tabBarBg-0d05851f.png'); */
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
  }
  .nav-promotion {
    width: 60px;
    height: 41px;
    position: relative;
    /* background: rebeccapurple; */
    border-radius: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    /* border: 3px solid white; */
    /* top: -24px; */
    margin-top: -11px;
   background: linear-gradient(180deg, #f95959 0%, #ff9a8e 100%);
  }


  .nav-promotion svg {
    /* margin-top: 8px; */
    font-size: 32px;
  }
  @media screen and (max-width: 500px) {
    .navbar-section {
      width: 100%;
    }
  }
  .navbar-section .active {
    color: var(--main-color);
  }
  .navbar-section > div {
    cursor: pointer;
  }
  .gray-new{
    color: var(--black-2);
  }
  /* .tabbar__container-item svg[data-v-fb80cf49] {
    display: block;
    width: .53333rem;
    height: .53333rem;
  } */
  .svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--bg-color-l);
    vertical-align: middle;
}
.bright{
  filter: brightness(0.8);
}
.top-white {
  filter:  drop-shadow(2px 4px 6px black);
}

.svg-icon2{
  width: 2.0rem !important;
  height: 2.0rem !important;
}
.svg-icon-login{
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.svg-icons{
  width: 1.5rem;
  height: 1.5rem;
   vertical-align: middle;
   color: #70798B;
}
